[submodule "ros_controllers"]
	path = ros_controllers
	url = git@github.com:UTNuclearRobotics/ros_controllers.git
[submodule "ur_modern_driver"]
	path = ur_modern_driver
	url = https://github.com/ros-industrial/ur_modern_driver.git
[submodule "temoto_intuitive_teleoperator"]
	path = temoto_intuitive_teleoperator
	url = git@github.com:UTNuclearRoboticsPublic/temoto_intuitive_teleoperator.git
[submodule "jog_arm"]
	path = jog_arm
	url = git@github.com:UTNuclearRoboticsPublic/jog_arm.git
[submodule "arm_warnings"]
	path = arm_warnings
	url = git@github.com:UTNuclearRobotics/arm_warnings.git
